[Unit]
Description=docker-rust-bechof
Author=Matthias Becker, Axel Hoffmann
After=docker.service

[Service]
Restart=always
ExecStart=/usr/bin/docker start -a rust
ExecStop=/usr/bin/docker stop -t 2 rust

[Install]
WantedBy=multi-user.target
